<div class="widgets">

    <div class="row">
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Basic"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/progressBars/widgets/basic.html'"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Striped"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/progressBars/widgets/striped.html'"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="With label"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/progressBars/widgets/label.html'"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Animated"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/progressBars/widgets/animated.html'"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Stacked"
             ba-panel-class="with-scroll">
            <div ng-include="'app/pages/ui/progressBars/widgets/stacked.html'"></div>
        </div>
    </div>

</div>