<div class="form-group">
    <div class="form-group">
        <input type="text" tag-input="primary" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput"
               placeholder="Add Tag">
    </div>
    <div class="form-group">
        <input type="text" tag-input="warning" value="Minsk,Prague,Vilnius,Warsaw" data-role="tagsinput"
               placeholder="Add Tag">
    </div>
    <div class="form-group">
        <input type="text" tag-input="danger" value="London,Berlin,Paris,Rome,Munich" data-role="tagsinput"
               placeholder="Add Tag">
    </div>
</div>