<div class="widgets">

    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Inline Form"
             ba-panel-class="with-scroll">
            <div ng-include="'app/pages/ui/grid/baseGrid.html'"></div>
        </div>
    </div>

</div>