<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox">
            <span>Check me out</span>
        </label>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>