<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputFirstName">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputWebsite">Website</label>
            <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>