<!-- todo: remove whole block -->
<div ba-panel>
    <section id="cd-timeline" class="cd-container cssanimations" ng-controller="TimelineCtrl">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Euro-Coin' | kameleonImg )}}">
                </div>
            </div>

            <div class="cd-timeline-content warning">
                <h5>Title of section 1</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut
                    hic quasi
                    placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <span class="cd-date">Jan 14</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}">
                </div>
            </div>

            <div class="cd-timeline-content danger">
                <h5>Title of section 2</h5>

                <p>Donec dapibus at leo eget volutpat. Praesent dolor tellus, ultricies venenatis molestie eu, luctus
                    eget nibh.
                    Curabitur ullamcorper eleifend nisl.</p>
                <span class="cd-date">Jan 18</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg primary"><img ng-src="{{::( 'Checklist' | kameleonImg )}}">
                </div>
            </div>

            <div class="cd-timeline-content primary">
                <h5>Title of section 3</h5>

                <p>Phasellus auctor tellus eget lacinia condimentum. Cum sociis natoque penatibus et magnis dis
                    parturient
                    montes.</p>
                <span class="cd-date">Feb 18</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Boss-3' | kameleonImg )}}"></div>
            </div>

            <div class="cd-timeline-content warning">
                <h5>Title of section 4</h5>

                <p>Morbi fringilla in massa ac posuere. Fusce non sagittis massa, id accumsan odio. Nullam eget tempor
                    est.
                    Etiam eu felis eu purus aliquam tristique id quis nisl. Nam eros nibh, consequat sed pulvinar eu,
                    ultrices
                    ornare ligula. Aenean interdum sed nunc sed hendrerit.</p>
                <span class="cd-date">Feb 20</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Online-Shopping' | kameleonImg )}}">
                </div>
            </div>

            <div class="cd-timeline-content danger">
                <h5>Title of section 5</h5>

                <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget
                    mattis
                    metus. Nullam egestas eros metus, quis fringilla urna accumsan sed. Aliquam ultrices at arcu vitae
                    tincidunt.</p>
                <span class="cd-date">Feb 21</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg primary"><img ng-src="{{::( 'Money-Increase' | kameleonImg )}}">
                </div>
            </div>

            <div class="cd-timeline-content primary">
                <h5>Title of section 6</h5>

                <p>Praesent bibendum ante mattis augue consectetur, ut commodo turpis consequat. Donec ligula eros,
                    porta in
                    iaculis vel, semper ac sem. Integer at mauris lorem.</p>
                <span class="cd-date">Feb 23</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <div class="kameleon-icon with-round-bg warning"><img ng-src="{{::( 'Vector' | kameleonImg )}}"></div>
            </div>

            <div class="cd-timeline-content warning">
                <h5>Title of section 7</h5>

                <p>Vivamus ut laoreet erat, vitae eleifend eros. Sed varius id tellus non lobortis. Sed dolor ante,
                    cursus non
                    scelerisque sed, euismod id eros.</p>
                <span class="cd-date">Feb 24</span>
            </div>
        </div>
    </section>
</div>