<div class="widgets">
    <div class="row">
        <div class="col-md-3"
             ba-panel
             ba-panel-title="Flat Buttons"
             ba-panel-class="with-scroll button-panel">
            <div class="button-wrapper">
                <button type="button" class="btn btn-default">Default</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-success">Success</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-info">Info</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
        </div>
        <div class="col-md-3"
             ba-panel
             ba-panel-title="Raised Buttons"
             ba-panel-class="with-scroll button-panel">
            <div class="button-wrapper">
                <button type="button" class="btn btn-default btn-raised">Default</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary btn-raised">Primary</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-success btn-raised">Success</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-info btn-raised">Info</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-warning btn-raised">Warning</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-danger btn-raised">Danger</button>
            </div>
        </div>
        <div class="col-md-3"
             ba-panel
             ba-panel-title="Different sizes"
             ba-panel-class="with-scroll button-panel df-size-button-panel">
            <div class="button-wrapper">
                <button type="button" class="btn btn-default  btn-xs">Default</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary  btn-sm">Primary</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-success btn-mm">Success</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-info btn-md">Info</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-warning btn-xm">Warning</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-danger btn-lg">Danger</button>
            </div>
        </div>
        <div class="col-md-3"
             ba-panel
             ba-panel-title="Disabled"
             ba-panel-class="with-scroll button-panel">
            <div class="button-wrapper">
                <button type="button" class="btn btn-default" disabled="disabled">Default</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-success" disabled="disabled">Success</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-info" disabled="disabled">Info</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-warning" disabled="disabled">Warning</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Icon Buttons"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/buttons/widgets/iconButtons.html'"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Large Buttons"
                    ba-panel-class="with-scroll large-buttons-panel">
                <div ng-include="'app/pages/ui/buttons/widgets/largeButtons.html'"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Button Dropdowns"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/buttons/widgets/dropdowns.html'"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Button Groups"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/ui/buttons/widgets/buttonGroups.html'"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Progress Buttons"
             ba-panel-class="with-scroll">
            <div ng-include="'app/pages/ui/buttons/widgets/progressButtons.html'"></div>
        </div>
    </div>

</div>