<div class="input-group">
    <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span>
    <input type="text" class="form-control with-primary-addon" placeholder="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <input type="text" class="form-control with-warning-addon" placeholder="Recipient's username"
           aria-describedby="basic-addon2">
    <span class="input-group-addon input-group-addon-warning addon-right" id="basic-addon2">@example.com</span>
</div>

<div class="input-group">
    <span class="input-group-addon addon-left input-group-addon-success">$</span>
    <input type="text" class="form-control with-success-addon" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon addon-right input-group-addon-success">.00</span>
</div>

<div class="input-group">
    <input type="text" class="form-control with-danger-addon" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button">Go!</button>
  </span>
</div>