<div class="form-group has-success">
    <label class="control-label" for="inputSuccess1">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess1">
</div>
<div class="form-group has-warning">
    <label class="control-label" for="inputWarning1">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning1">
</div>
<div class="form-group has-error">
    <label class="control-label" for="inputError1">Input with error</label>
    <input type="text" class="form-control" id="inputError1">
</div>
<div class="has-success">
    <div class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox" id="checkboxSuccess" value="option1">
            <span>Checkbox with success</span>
        </label>
    </div>
</div>
<div class="has-warning">
    <div class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox" id="checkboxWarning" value="option1">
            <span>Checkbox with warning</span>
        </label>
    </div>
</div>
<div class="has-error">
    <div class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox" id="checkboxError" value="option1">
            <span>Checkbox with error</span>
        </label>
    </div>
</div>

<div class="form-group has-success has-feedback">
    <label class="control-label" for="inputSuccess2">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
    <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
    <span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>
<div class="form-group has-warning has-feedback">
    <label class="control-label" for="inputWarning2">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
    <i class="ion-alert-circled form-control-feedback" aria-hidden="true"></i>
    <span id="inputWarning2Status" class="sr-only">(warning)</span>
</div>
<div class="form-group has-error has-feedback">
    <label class="control-label" for="inputError2">Input with error</label>
    <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
    <i class="ion-android-cancel form-control-feedback" aria-hidden="true"></i>
    <span id="inputError2Status" class="sr-only">(error)</span>
</div>
<div class="form-group has-success has-feedback">
    <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
    <div class="input-group">
        <span class="input-group-addon addon-left">@</span>
        <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
    </div>
    <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
    <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
</div>