<div class="row icons-list primary">
    <div class="col-xs-2" ng-repeat="icon in icons.ionicons"><i class="{{icon}}"></i></div>
</div>
<a href="http://ionicons.com/" target="_blank" class="see-all-icons">See all ionicons icons</a>