<div class="row clearfix">
    <div class="kameleon-row" ng-repeat="icon in icons.kameleonRoundedIcons">
        <div class="kameleon-icon with-round-bg {{icon.color}}"><img ng-src="{{::( icon.img | kameleonImg )}}"><span>{{ icon.name }}</span>
        </div>
    </div>
</div>

<a href="http://www.kameleon.pics/" target="_blank" class="see-all-icons">See all Kamaleon icons</a>