<uib-accordion>
    <uib-accordion-group heading="Primary" panel-class="panel-primary bootstrap-panel accordion-panel">
        Primary <i class="ion-heart"></i>
    </uib-accordion-group>
    <uib-accordion-group heading="Success" panel-class="panel-success bootstrap-panel accordion-panel">
        Success <i class="ion-checkmark-round"></i>
    </uib-accordion-group>
    <uib-accordion-group heading="Info" panel-class="panel-info bootstrap-panel accordion-panel">
        Info <i class="ion-information-circled"></i>
    </uib-accordion-group>
    <uib-accordion-group heading="Warning" panel-class="panel-warning bootstrap-panel accordion-panel">
        Warning <i class="ion-alert"></i>
    </uib-accordion-group>
    <uib-accordion-group heading="Danger" panel-class="panel-danger bootstrap-panel accordion-panel">
        Danger <i class="ion-nuclear"></i>
    </uib-accordion-group>
</uib-accordion>