<div ba-panel
     ba-panel-class="tabs-panel xsmall-panel with-scroll">
    <uib-tabset class="tabs-left">
        <uib-tab heading="Start">
            <p class="text-center">
                Take up one idea.
            </p>

            <div class="kameleon-icon-tabs kameleon-icon with-round-bg danger"><img
                    ng-src="{{::( 'Key' | kameleonImg )}}"></div>
            <p>
                People who succeed have momentum. The more they succeed, the more they want to succeed, and the more
                they find a
                way to succeed. </p>
        </uib-tab>
        <uib-tab heading="Get it done">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to
                trust
                that
                the dots will somehow connect in your future. You have to trust in something--your gut, destiny, life,
                karma,
                whatever. This approach has never let me down, and it has made all the difference in my life.
            </p>

            <p>
                The reason most people never reach their goals is that they don't define them, or ever seriously
                consider them
                as
                believable or achievable. Winners can tell you where they are going, what they plan to do along the way,
                and who
                will be sharing the adventure with them.
            </p>
        </uib-tab>
        <uib-tab heading="Achieve">
            <p>
                Success is ... knowing your purpose in life, growing to reach your maximum potential, and sowing seeds
                that
                benefit others.
            </p>

            <p>Failure is the condiment that gives success its flavor.</p>
        </uib-tab>
    </uib-tabset>
</div>

<div ba-panel
     ba-panel-class="tabs-panel xsmall-panel with-scroll">
    <uib-tabset class="tabs-right">
        <uib-tab heading="Start">
            <p class="text-center">
                Take up one idea.
            </p>

            <div class="kameleon-icon-tabs kameleon-icon with-round-bg warning"><img
                    ng-src="{{::( 'Phone-Booth' | kameleonImg )}}"></div>
            <p>
                People who succeed have momentum. The more they succeed, the more they want to succeed, and the more
                they find a
                way to succeed. </p>
        </uib-tab>
        <uib-tab heading="Get it done">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to
                trust
                that
                the dots will somehow connect in your future. You have to trust in something--your gut, destiny, life,
                karma,
                whatever. This approach has never let me down, and it has made all the difference in my life.
            </p>

            <p>
                The reason most people never reach their goals is that they don't define them, or ever seriously
                consider them
                as
                believable or achievable. Winners can tell you where they are going, what they plan to do along the way,
                and who
                will be sharing the adventure with them.
            </p>
        </uib-tab>
        <uib-tab heading="Achieve">
            <p>
                Success is ... knowing your purpose in life, growing to reach your maximum potential, and sowing seeds
                that
                benefit others.
            </p>

            <p>Failure is the condiment that gives success its flavor.</p>
        </uib-tab>
    </uib-tabset>
</div>