<div>
    <div class="row">
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-class="with-scroll horizontal-tabs tabs-panel medium-panel">
                <div ng-include="'app/pages/ui/tabs/mainTabs.html'"></div>
            </div>
        </div>
        <div class="col-md-6 tabset-group" ng-include="'app/pages/ui/tabs/sideTabs.html'"></div>
    </div>
    <div class="row accordions-row">
        <div class="col-md-6" ng-include="'app/pages/ui/tabs/sampleAccordion.html'"></div>
        <div class="col-md-6" ng-include="'app/pages/ui/tabs/contextualAccordion.html'"></div>
    </div>
</div>