<div class="horizontal-scroll">
    <table class="table">
        <thead>
        <tr>
            <th class="browser-icons"></th>
            <th>Browser</th>
            <th class="align-right">Visits</th>
            <th class="table-arr"></th>
            <th class="align-right">Downloads</th>
            <th class="table-arr"></th>
            <th class="align-right">Purchases</th>
            <th class="table-arr"></th>
            <th class="align-right">DAU</th>
            <th class="table-arr"></th>
            <th class="align-right">MAU</th>
            <th class="table-arr"></th>
            <th class="align-right">LTV</th>
            <th class="table-arr"></th>
            <th class="align-right">Users %</th>
            <th class="table-arr"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="img/chrome.svg" width="20" height="20"></td>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">4,214</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">899</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">7,098</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">178</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">45%</td>
            <td class="table-arr"><i class="icon-up"></i></td>
        </tr>
        <tr>
            <td><img src="img/firefox.svg" width="20" height="20"></td>
            <td class="nowrap">Mozilla Firefox</td>
            <td class="align-right">7,873</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">6,003</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">3,031</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">897</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">8,997</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">102</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">28%</td>
            <td class="table-arr"><i class="icon-up"></i></td>
        </tr>
        <tr>
            <td><img src="img/ie.svg" width="20" height="20"></td>
            <td class="nowrap">Internet Explorer</td>
            <td class="align-right">5,890</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">3,492</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">2,102</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">27</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">4,039</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">99</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">17%</td>
            <td class="table-arr"><i class="icon-down"></i></td>
        </tr>
        <tr>
            <td><img src="img/safari.svg" width="20" height="20"></td>
            <td class="nowrap">Safari</td>
            <td class="align-right">4,001</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">2,039</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">1,001</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">104</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">3,983</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">209</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">14%</td>
            <td class="table-arr"><i class="icon-down"></i></td>
        </tr>
        <tr>
            <td><img src="img/opera.svg" width="20" height="20"></td>
            <td class="nowrap">Opera</td>
            <td class="align-right">1,833</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">983</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">83</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">19</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">1,099</td>
            <td class="table-arr"><i class="icon-down"></i></td>
            <td class="align-right">103</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">5%</td>
            <td class="table-arr"><i class="icon-up"></i></td>
        </tr>
        </tbody>
    </table>
</div>