<table class="table">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    <tr class="primary">
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><a class="email-link " ng-href="mailto:mdo@gmail.com" href="mailto:mdo@gmail.com">mdo@gmail.com</a></td>
        <td>28</td>
    </tr>
    <tr class="success">
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><a class="email-link " ng-href="mailto:fat@yandex.ru" href="mailto:fat@yandex.ru">fat@yandex.ru</a></td>
        <td>45</td>
    </tr>
    <tr class="warning">
        <td>3</td>
        <td>Larry</td>
        <td>Bird</td>
        <td>@twitter</td>
        <td><a class="email-link " ng-href="mailto:twitter@outlook.com" href="mailto:twitter@outlook.com">twitter@outlook.com</a>
        </td>
        <td>18</td>
    </tr>
    <tr class="danger">
        <td>4</td>
        <td>John</td>
        <td>Snow</td>
        <td>@snow</td>
        <td><a class="email-link" ng-href="mailto:snow@gmail.com" href="mailto:snow@gmail.com">snow@gmail.com</a></td>
        <td>20</td>
    </tr>
    <tr class="info">
        <td>5</td>
        <td>Jack</td>
        <td>Sparrow</td>
        <td>@jack</td>
        <td><a class="email-link" ng-href="mailto:jack@yandex.ru" href="mailto:jack@yandex.ru">jack@yandex.ru</a></td>
        <td>30</td>
    </tr>
</table>