<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
            <th class="browser-icons"></th>
            <th>Browser</th>
            <th class="align-right">Visits</th>
            <th class="table-arr"></th>
            <th class="align-right">Purchases</th>
            <th class="table-arr"></th>
            <th class="align-right">%</th>
            <th class="table-arr"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in metricsTableData" class="no-top-border">
            <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
            <td ng-class="nowrap">{{item.browser}}</td>
            <td class="align-right">{{item.visits}}</td>
            <td class="table-arr"><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
            <td class="align-right">{{item.purchases}}</td>
            <td class="table-arr"><i ng-class="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i>
            </td>
            <td class="align-right">{{item.percent}}</td>
            <td class="table-arr"><i ng-class="{'icon-up': item.isPercentUp, 'icon-down': !item.isPercentUp }"></i></td>
        </tr>
        </tbody>
    </table>
</div>