<div class="side-message-navigation" ng-class="{'expanded': tabCtrl.navigationCollapsed}">
    <div class="mail-messages-control side-message-navigation-item">
        <div class="toggle-navigation-container">
            <a href class="collapse-navigation-link ion-navicon"
               ng-click="tabCtrl.navigationCollapsed=!tabCtrl.navigationCollapsed"></a>
        </div>
        <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" id="inlineCheckbox01" value="option1">
            <span class="select-all-label">Select All</span>
        </label>
        <button type="button" class="btn  btn-icon refresh-button"><i class="ion-refresh"></i></button>
        <div class="btn-group" uib-dropdown>
            <button type="button" class="btn more-button" uib-dropdown-toggle>
                More <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu>
                <li><a href>Action</a></li>
                <li><a href>Another action</a></li>
                <li><a href>Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="messages">
        <table>
            <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:'-date'"
                class="side-message-navigation-item little-human shineHover {{m.tag}}">
                <td class="check-td">
                    <div class="mail-checkbox">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                </td>
                <td class="photo-td" ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"><img
                        ng-src="{{m.name.split(' ')[0] | profilePicture}}" class="little-human-picture"></td>
                <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
                    <div class="name-container">
                        <div><span class="name">{{m.name}}</span></div>
                        <div><span class="tag label label-primary {{m.tag}}">{{m.tag}}</span></div>
                    </div>
                </td>
                <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
                    <div class="additional-info">
                        <span class="subject"> {{m.subject}}</span>
                    </div>
                </td>
                <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
                    <div class="mail-body-part">{{m.body | plainText}}</div>
                </td>
                <td class="date">
                    <span>{{m.date | date : 'MMM d HH:mm'}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>