<div class="basic-btns">
    <div class="row">
        <div class="col-md-2"><h5>Default button</h5></div>
        <div class="col-md-10">
            <div class="row btns-row btns-same-width-md">
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default">Default</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-success">Success</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-info">Info</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-warning">Warning</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-danger">Danger</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><h5 class="row-sm">Small button</h5></div>
        <div class="col-md-10">
            <div class="row btns-row btns-same-width-md">
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default btn-sm">Default</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-success btn-sm">Success</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-info btn-sm">Info</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-warning btn-sm">Warning</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-danger btn-sm">Danger</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><h5 class="row-xs">Extra small button</h5></div>
        <div class="col-md-10">
            <div class="row btns-row btns-same-width-md">
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-primary btn-xs">Primary</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default btn-xs">Default</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-success btn-xs">Success</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-info btn-xs">Info</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-warning btn-xs">Warning</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-danger btn-xs">Danger</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><h5>Disabled button</h5></div>
        <div class="col-md-10">
            <div class="row btns-row btns-same-width-md">
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default" disabled="disabled">Default</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-success" disabled="disabled">Success</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-info" disabled="disabled">Info</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-warning" disabled="disabled">Warning</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
                </div>
            </div>
        </div>
    </div>
</div>