<ul class="btn-list clearfix">
    <li>
        <button type="button" class="btn btn-primary btn-icon"><i class="ion-android-download"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-default btn-icon"><i class="ion-stats-bars"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-info btn-icon"><i class="ion-information"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-warning btn-icon"><i class="ion-android-warning"></i></button>
    </li>
    <li>
        <button type="button" class="btn btn-danger btn-icon"><i class="ion-nuclear"></i></button>
    </li>
</ul>

<h5 class="panel-subtitle">Buttons with icons</h5>

<ul class="btn-list clearfix">
    <li>
        <button type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-download"></i>Primary</button>
    </li>
    <li>
        <button type="button" class="btn btn-default btn-with-icon"><i class="ion-stats-bars"></i>Default</button>
    </li>
    <li>
        <button type="button" class="btn btn-success btn-with-icon"><i class="ion-android-checkmark-circle"></i>Success
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-info btn-with-icon"><i class="ion-information"></i>Info</button>
    </li>
    <li>
        <button type="button" class="btn btn-warning btn-with-icon"><i class="ion-android-warning"></i>Warning</button>
    </li>
    <li>
        <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-nuclear"></i>Danger</button>
    </li>
</ul>