<div class="progress-buttons-container text-center default-text">
    <div class="row">
        <section class="col-md-6 col-lg-3">
            <span class="button-title">fill horizontal</span>
            <button progress-button="progressFunction()" class="btn btn-success">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">fill vertical</span>
            <button progress-button="progressFunction()" pb-direction="vertical" class="btn btn-danger">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">shrink horizontal</span>
            <button progress-button="progressFunction()" pb-style="shrink" class="btn btn-warning">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">shrink vertical</span>
            <button progress-button="progressFunction()" pb-style="shrink" pb-direction="vertical" class="btn btn-info">
                Submit
            </button>
        </section>
    </div>
    <div class="row">
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-angle-bottom <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-angle-bottom" class="btn btn-success">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-angle-top <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-angle-top" class="btn btn-danger">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-angle-left <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-angle-left" class="btn btn-warning">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-angle-right <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-angle-right" class="btn btn-info">Submit
            </button>
        </section>
    </div>
    <div class="row">
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-side-down <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-side-down" class="btn btn-success">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-side-up <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-side-up" class="btn btn-danger">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-side-left <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-side-left" class="btn btn-warning">Submit
            </button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-side-right <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-side-right" class="btn btn-info">Submit
            </button>
        </section>
    </div>
    <div class="row">
        <section class="col-md-6 col-lg-3">
            <span class="button-title">rotate-back <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="rotate-back" class="btn btn-success">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">flip-open <br/>perspective</span>
            <button progress-button="progressFunction()" pb-style="flip-open" class="btn btn-danger">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">slide-down <br/>horizontal</span>
            <button progress-button="progressFunction()" pb-style="slide-down" class="btn btn-warning">Submit</button>
        </section>
        <section class="col-md-6 col-lg-3">
            <span class="button-title">move-up <br/>horizontal</span>
            <button progress-button="progressFunction()" pb-style="move-up" class="btn btn-info">Submit</button>
        </section>
    </div>
    <div class="row">
        <section class="col-md-6">
            <span class="button-title">top-line <br/>horizontal</span>
            <button progress-button="progressFunction()" pb-style="top-line" class="btn btn-success">Submit</button>
        </section>
        <section class="col-md-6">
            <span class="button-title">lateral-lines <br/>vertical</span>
            <button progress-button="progressFunction()" pb-style="lateral-lines" class="btn btn-info">Submit</button>
        </section>
    </div>
</div>
