<div class="widgets">

    <div class="row">
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Kameleon SVG Icons"
                    ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/ui/icons/widgets/kameleon.html"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Socicon"
                    ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/ui/icons/widgets/socicon.html"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Icons With Rounded Background"
                    ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/ui/icons/widgets/kameleonRounded.html"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="ionicons"
                    ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/ui/icons/widgets/ionicons.html"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Font Awesome Icons"
                    ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/ui/icons/widgets/fontAwesomeIcons.html"></div>
            </div>
        </div>
    </div>

</div>