<div class="widgets">

    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Inline Form"
             ba-panel-class="with-scroll">
            <div ng-include="'app/pages/form/layouts/widgets/inlineForm.html'"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Basic Form"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/form/layouts/widgets/basicForm.html'"></div>
            </div>

            <div
                    ba-panel
                    ba-panel-title="Horizontal Form"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/form/layouts/widgets/horizontalForm.html'"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                    ba-panel
                    ba-panel-title="Form Without Labels"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/form/layouts/widgets/formWithoutLabels.html'"></div>
            </div>
            <div
                    ba-panel
                    ba-panel-title="Block Form"
                    ba-panel-class="with-scroll">
                <div ng-include="'app/pages/form/layouts/widgets/blockForm.html'"></div>
            </div>
        </div>
    </div>

</div>