<div class="modal-buttons same-width clearfix" ng-controller="NotificationsCtrl">
    <button type="button" class="btn btn-success" ng-click="showSuccessMsg()">Success Notification</button>
    <button type="button" class="btn btn-info" ng-click="showInfoMsg()">Info Notification</button>
    <button type="button" class="btn btn-warning" ng-click="showWarningMsg()">Warning Notification</button>
    <button type="button" class="btn btn-danger" ng-click="showErrorMsg()">Danger Notification</button>
</div>