<div class="modal-content">
    <div class="modal-header bg-danger">
        <i class="ion-flame modal-icon"></i><span> Error</span>
    </div>
    <div class="modal-body text-center">Your information hasn't been saved!</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">OK</button>
    </div>
</div>
