<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span> Information</span>
    </div>
    <div class="modal-body text-center">You've got a new email!</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
    </div>
</div>
