<div class="modal-content">
    <div class="modal-header bg-warning">
        <i class="ion-android-warning modal-icon"></i><span> Warning</span>
    </div>
    <div class="modal-body text-center">Your computer is about to explode!</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">OK</button>
    </div>
</div>
