<div ng-controller="SwitchPanelCtrl as switchPanelVm" class="switches clearfix">
    <switch color="primary" ng-model="switchPanelVm.switcherValues.primary"></switch>
    <switch color="warning" ng-model="switchPanelVm.switcherValues.warning"></switch>
    <switch color="danger" ng-model="switchPanelVm.switcherValues.danger"></switch>
    <switch color="info" ng-model="switchPanelVm.switcherValues.info"></switch>
    <switch color="success" ng-model="switchPanelVm.switcherValues.success"></switch>
</div>